{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div id="wrapper">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'main.js' %}"></script> {# Optional: A main JS file for global scripts #}
    {% block extra_js %}{% endblock %}
</body>
</html>
